@import "variables.scss";

.filter-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &_all {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  &_container {
    display: flex;
    background-color: $greenLight;
    border-radius: $borderRadius;
    flex-direction: column;
  }

  h4 {
    margin-left: $marginMedium;
    margin-top: $marginMedium;
    color: $orangeLight;
  }

  p {
    color: $orangeLight;
    margin-bottom: $marginLow;
  }
  .icon {
    color: $orangeLight;
  }
  .title {
    display: flex;
    cursor: pointer;
    color: $orangeLight;
    & > * {
      margin-bottom: $marginLow;
    }
  }

  &_inputBack {
    background-color: $orangeLight;
    border-radius: $borderRadius;
    padding: 1px;
  }

  &_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &_type {
    margin: $marginMedium;
  }

  &_validation {
    align-self: flex-end;
    display: flex;
    & > * {
      margin: $marginLow;
    }
  }
}
