@import "variables.scss";

.userProfile {
  height: 100%;
  width: 100%;
  &_optionsBloc {
    font-weight: bold;
    width: 130px;
    height: 30px;
    background-color: $orangeLight;
    box-shadow: $shadowFill;
    border-radius: $borderRadius;
    padding: $paddingMedium;
    cursor: pointer;
  }

  .swiper-container {
    width: 90%;
    padding: $paddingMedium 0 40px 0;
  }
}
