@import "variables.scss";

.userProfile {
  height: 100%;
  width: 100%;


  &_optionsBloc {
    font-weight: bold;
    width: 130px;
    height: 20px;
    color: $orangeLight;
    background-color: $greenLight;
    box-shadow: $shadowFill;
    border-radius: $borderRadius;
    padding: $paddingMedium;
    cursor: pointer;
  }

  .swiper-container {
    vertical-align: top;
    width: 90%;
    padding: $paddingMedium 0 40px 0;
  }

}
