@import "variables";

.regButton {
  background-color: $orangeLight;
  color: $orangeDark;
  padding: $paddingMedium;
  border: none;
  transition: 0.3s;
  font-weight: bold;
  border-radius: $borderRadius;

  &_selected {
    background-color: $orangeMedium;
    transform: scale(1.2);
    color: $greenLight;
  }

  &:enabled {
    cursor: pointer;
    box-shadow: $shadowFill;
  }

  &:disabled {
    background-color: $greenLight;
  }

  &:hover:enabled {
    box-shadow: 0 0 0 0;
    background-color: $orangeDark;
    color: $greenLight;
  }
  &:focus {
    outline: 0;
  }

  &:active {
    background-color: $greenMedium !important;
  }

  &_confirmation {
    background-color: $greenLight;
  }

  &_bindToInput {
    border-radius: $borderRadiusBtnRight !important;
  }
}
