<div class="subscribe">
  <h2>S'inscrire</h2>
  <form [formGroup]="subForm" (submit)="onSubmit()">
    <div
      class="subscribe_formRepeat"
      *ngFor="
        let inputField of formList | keyvalue: unsorted;
        let index = index
      "
    >
      <label [attr.for]="inputField.key">{{ label[index] }}</label>
      <reg-input
        [attr.id]="inputField.key"
        [parentForm]="subForm"
        [parentControlName]="inputField.key"
        [width]="200"
        [type]="inputField.key === 'password' ? 'password' : 'text'"
        [solo]="inputField.key !== 'password'"
      ></reg-input>
    </div>
    <reg-button
      [label]="'Envoyer'"
      [disabled]="!subForm.valid"
      [type]="'submit'"
    ></reg-button>
  </form>
</div>
