@import "variables";

.numberOfPlayers {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_buttons {
    & > * {
      margin: $marginMedium;
    }
  }
  h2{
    font-family: $kidFont;
  }
}
