@import "variables";

.numberOfPlayers {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_buttons {
    display: flex;
    & > * {
      margin: $marginMedium;
    }
  }
  h2 {
    margin: $marginMedium;
  }
}
