@import "variables";

.difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;

 

  &_inputsDiff {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    & > * {
      margin: $marginMedium;
    }
  }
}
