<div class="playerName">
  <form (ngSubmit)="onSubmit($event)" [formGroup]="userForm">
    <div formArrayName="aliases" class="playerName_inputsWrapper">
      <div
        *ngFor="let alias of aliases.controls; let i = index"
        class="playerName_inputsSolo"
      >
        <h2>Choisis ton pseudo Joueur {{ i + 1 }}</h2>
        <div class="playerName_inputsComp">
          <reg-input
            [parentForm]="userForm"
            [parentControlName]="i"
            [width]="200"
            placeholder="Entre ton nom"
            [validate]="formValidation[i].isMinlength"
            [solo]="false"
          ></reg-input>
          <reg-button
            [id]="i"
            type="submit"
            [disabled]="!formValidation[i].isMinlength"
            [label]="formValidation[i].isSubmited ? 'Modifier' : 'Valider'"
            [solo]="false"
            [confirmation]="btnValidation"
          ></reg-button>
          <div class="playerName_connect" *ngIf="i === 0 && !isAuth">
            <reg-button [routerLink]="['/user/login']" ><i class="fas fa-sign-in-alt"></i></reg-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
