<div class="winbox_all">
  <div *ngIf="multi && winner">
    <h2>{{ winner.username }} a gagné !</h2>
  </div>

  <div *ngIf="!multi">
    <h2>Tu as gagné ! en {{ game.numberOftries }} coups !</h2>
    <p>
      Tu as mis {{ game.minutes === "00" ? "" : game.minutes + "minutes et" }}
      {{ game.seconds }} secondes
    </p>
  </div>

  <reg-button
    [label]="'Rejouer'"
    (click)="restart()"
  ></reg-button>
  <reg-button
    [label]="'Parametres'"
    (click)="restartAndChangeParams()"
  >
  </reg-button>
</div>
