@import "variables.scss";

.selectThemes {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_choice {
    display: flex;
    & > * {
      margin: $marginMedium;
    }
  }

  &_preview {
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    margin:$marginMedium;
    background-size: cover;
    border-radius: $borderRadius;
    box-shadow: $shadowFill;
  }

  h2 {
    font-family: $kidFont;
    margin: $marginMedium;
  }
}
