<div
  class="cropModal"
  *ngIf="isDisplayed"
  (click)="closeModal()"
  [ngStyle]="style"
  [@opacityAnim]
>
  <div class="cropModal_container" stopPropagation>
    <div class="cropModal_doAndPreview">
      <div class="cropModal_picturesPreview">
        <swiper [slidesPerView]="3.2">
          <ng-template
            swiperSlide
            *ngFor="let picture of picturesPreview; let index = index"
          >
            <pictures-preview
              [index]="index"
              [picture]="picture"
              [size]="50"
              [crossButton]="false"
              (click)="setImageToCrop(index)"
            ></pictures-preview>
          </ng-template>
        </swiper>
      </div>
      <div class="cropModal_cropperContainer">
        <image-cropper
          class="cropModal_cropper"
          [imageFile]="imageFile"
          [maintainAspectRatio]="true"
          [aspectRatio]="1 / 1"
          format="png"
          (imageCropped)="imageCropped($event)"
        ></image-cropper>
        <ng-container *ngIf="croppedImage">
          <img [src]="croppedImage" />
        </ng-container>
      </div>
      <div class="cropModal_bottomButtons">
        <reg-button
          [width]="130"
          [confirmation]="confirmChange"
          (click)="saveChanges()"
          >Sauvegarder</reg-button
        >
        <reg-button [width]="100" (click)="exit()">Quitter</reg-button>
      </div>
    </div>
  </div>
</div>
