@import "variables";

.sideMenu {
  width: 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $greenLight;
  font-size: $fontSizeS;
  border-right: $orangeDark 3px solid;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.2s ease;
  z-index: 1;
  &_transclude {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    font-family: $regularFont;
    font-weight: bold;
    width: 100%;
    padding: $paddingMedium 0 $paddingMedium 0;
    background-color: $orangeDark;
    text-align: center;
  }

  &_displayed {
    width: 150px;
  }
}
