@import "variables";

$sideMenuSize: 250px;

.sideMenu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $greenLight;
  opacity: 0.9;
  font-size: $fontSizeS;
  border-left: $orangeDark 3px solid;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX($sideMenuSize);
  transition: 0.3s ease;
  z-index: 1;
  &_transclude {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    font-family: $regularFont;
    font-weight: bold;
    width: 100%;
    padding: $paddingMedium 0 $paddingMedium 0;
    background-color: $greenDark;
    text-align: center;
  }

  &_displayed {
    transform: translateX(0);
  }
}
