$regularFont: "Questrial", sans-serif;
$kidFont: "Leckerli One", cursive;

$greenMedium: #ffe66d;
$greenLight: #ffe66d;
$greenDark: #ffe66d;
$orangeLight: #4ecdc4;
$orangeMedium: #4bc0b8;
$orangeDark: #47bdb5;
$textColor: white;
$backgroundColor: #f7fff7;
$disabled: #e6f7e6;

$borderRadius: 5px;
$borderRadiusBtnRight: 0 $borderRadius $borderRadius 0;
$borderRadiusInputRight: $borderRadius 0 0 $borderRadius;
$marginMedium: 10px;
$marginLow: 5px;
$paddingMedium: 10px;
$paddingLow: 5px;

$shadowFill: 2px 2px 0 0 rgba($orangeDark, 1);
$shadowUnder : 0px 2px 0 0 rgba($orangeDark, 1);
$shadowFillSmall: 0px 0px 0 0 rgba($orangeDark, 1);
$textShadowFill: 1px 1px 0 $greenDark;

$fontSizeS: small;
$fontSizeM: medium;
$fontSizeL: 22px;

$cardSize: 80px;
$headerSize: $fontSizeM;
$centerHeight : 300px;

:root {
  --game-size: 400px;
}


@media screen and (max-width : 800px ) {
    :root {
        --game-size: 100%;
      }
      
}