<div class="setup">
  <div class="setup_title">
    <h2>Choisis tes preferences</h2>
  </div>

  <div class="setup_children">
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>

  <div class="setup_nextprev">
    <div *ngFor="let value of buttons; let i = index">
      <reg-button
        [disabled]="setupServ.disableButtons[i]"
        [label]="value"
        (click)="changeChildren(value)"
        [height]="40"
        [width]="100"
      ></reg-button>
    </div>
  </div>

  <div *ngIf="setupServ.displayStartButton" class="setup_start">
    <reg-button
      [label]="'Démarrer'"
      [disabled]="gameParams.selectedDifficulty === 0"
      (click)="letsStart()"
      [width]="300"
      [confirmation]="true"
    >
    </reg-button>
  </div>

  <div class="setup_dots">
    <div class="setup_dotsWrapper" *ngFor="let dot of dots; let j = index">
      <dots
        (mousedown)="changeChildren('dot', j)"
        (mouseover)="setPopInfo(j)"
        (mouseout)="setPopInfo(j)"
        [disabled]="setupServ.disableDots[j]"
        [selected]="setupServ.childIndex === j && true"
      >
      </dots>
      <info-pop
        [parentSize]="15"
        [displayed]="displayInfo[j]"
        [messages]="{ setupInfo: infoName[j] }"
        [width]="200"
      ></info-pop>
    </div>
  </div>
</div>
