<div class="deleteThemeItem">
  <div class="deleteThemeItem_bar">
    <h2>{{ theme.name }}</h2>
    <reg-button [width]="140" [height]="30" (click)="delete()" [danger]="true"
      >supprimer</reg-button
    >
  </div>
  <div class="deleteThemeItem_pictureContainer">
    <div class="deleteThemeItem_cardBack">
      <div class="deleteThemeItem_cardBackContainer">
        <div class="deleteThemeItem_picture" [ngStyle]="cardBackStyle">
          <form [formGroup]="themePutForm">
            <reg-file
              [parentForm]="themePutForm"
              [controlName]="'cardBack' + themeIndex"
              [width]="50"
              labelValue="Modifier le dos de carte"
            ></reg-file>
          </form>
        </div>

        <div class="deleteThemeItem_cardBackModify" *ngIf="cardBackChange">
          <reg-button
            [width]="50"
            [solo]="false"
            (click)="displayCrop('cardBack')"
          >
            <i class="fas fa-crop-alt"></i
          ></reg-button>
          <reg-button
            [width]="50"
            [solo]="false"
            (click)="postNewCards('posted')"
            >Valider</reg-button
          >
        </div>
      </div>
    </div>

    <div class="deleteThemeItem_setPreview">
      <div class="deleteThemeItem_cardTop">
        <p>Cartes</p>

        <form [formGroup]="themePutForm">
          <reg-file
            [width]="50"
            [parentForm]="themePutForm"
            [controlName]="'pictures' + themeIndex"
            labelValue=""
            filesAddText=""
            [multiple]="true"
          >
            <i class="fas fa-plus"></i
          ></reg-file>
        </form>
      </div>

      <div
        class="deleteThemeItem_picturesButtons"
        *ngIf="cardsPreviewNotPosted.length > 0"
      >
        <reg-button
          [width]="50"
          [height]="20"
          (click)="displayCrop('pictures')"
        >
          <i class="fas fa-crop-alt"></i
        ></reg-button>
        <reg-button
          [width]="100"
          [height]="20"
          (click)="postNewCards('notPosted')"
          >Valider</reg-button
        >
      </div>

      <div class="deleteThemeItem_previewSoloContainer">
        <pictures-preview
          *ngFor="let image of cardsPreview; let index = index"
          [picture]="image.file"
          [size]="60"
          pictureType="path"
          (fileDelete)="deleteCard('posted', image.id)"
          [index]="index"
        ></pictures-preview>
        <pictures-preview
          *ngFor="let image of cardsPreviewNotPosted; let index = index"
          [picture]="image"
          [size]="60"
          pictureType="blob"
          (fileDelete)="deleteCard('notPosted', $event)"
          [index]="index"
        >
          plop
        </pictures-preview>
      </div>
    </div>
  </div>
</div>
