<div class="deleteThemeItem">
  <div class="deleteThemeItem_bar">
    <h2>{{ theme.name }}</h2>
    <reg-button [height]="30" (click)="delete()">supprimer</reg-button>
  </div>
  <div class="deleteThemeItem_pictureContainer">
    <div class="deleteThemeItem_cardBack">
      <p>Dos de carte</p>
      <div class="deleteThemeItem_picture" [ngStyle]="cardBackStyle"></div>
    </div>
    <div class="deleteThemeItem_setPreview">
      <p>Apercu</p>
      <div class="deleteThemeItem_previewSoloContainer">
        <div
          class="deleteThemeItem_previewSolo"
          *ngFor="let image of cardsPreview; let index = index"
          [ngStyle]="image"
        ></div>
      </div>
    </div>
  </div>
</div>
