<div class="deleteThemeItem">
  <div class="deleteThemeItem_bar">
    <h2>{{ theme.name }}</h2>
    <reg-button [height]="30" (click)="delete()" [danger]="true"
      >supprimer</reg-button
    >
  </div>
  <div class="deleteThemeItem_pictureContainer">
    <div class="deleteThemeItem_cardBack">
    <div class="deleteThemeItem_cardBackContainer">

      <div class="deleteThemeItem_picture" [ngStyle]="cardBackStyle">
        <form [formGroup]="themePutForm">
          <reg-file
            [parentForm]="themePutForm"
            [controlName]="'cardBack' + themeIndex"            
            [width]="50"
            labelValue="Modifier le dos de carte"
          ></reg-file>
        </form>
      </div>

      <div class="deleteThemeItem_cardBackModify" *ngIf="cardBackChange">
        <reg-button>Redimensionner</reg-button>
      </div>

    </div>
     
    </div>

    <div class="deleteThemeItem_setPreview">
      <p>Apercu</p>
      <div class="deleteThemeItem_previewSoloContainer">
        <div
          class="deleteThemeItem_previewSolo"
          *ngFor="let image of cardsPreview; let index = index"
          [ngStyle]="image"
        ></div>
      </div>
    </div>
    
  </div>
</div>
