@import "variables.scss";

.deleteThemeItem {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    color: $orangeLight;
  }

  &_bar {
    border-radius: $borderRadius;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
    background-color: $greenLight;
    box-shadow: $shadowUnder;
    & > * {
      margin: $marginMedium;
    }
  }

  &_pictureContainer {
    margin-top: -5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_picture {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: $borderRadius;
    box-shadow: $shadowFill;
    padding: $paddingLow;
  }

  &_cardBack {
    z-index: 1;
    border-radius: $borderRadius;
    background-color: $orangeLight;
    padding: $paddingMedium;
    display: flex;
  }

  &_cardBackContainer {
    width: 100%;
    background-color: $greenLight;
    display: flex;
    align-items: center;
    border-radius: $borderRadius;
  }

  &_previewSolo {
    position: relative;
    display: flex;
   
    width: 40px;
    height: 40px;
    margin: $marginLow;
    background-size: cover;
    border-radius: $borderRadius;
    box-shadow: $shadowFill;
  }

  &_setPreview {
    display: flex;
    flex-direction: column;
    background-color: $orangeLight;
    border-radius: $borderRadius;
    padding: $paddingMedium;
    margin-top: -5px;
  }

  &_previewSoloContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  p {
    color: $orangeLight;
    font-size: small;
    padding: $paddingLow;
    border-radius: $borderRadius;
    // box-shadow: $shadowFill;
    background-color: $greenLight;
  }
}
