<div class="plop">
  <h2>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque
    voluptates quis, voluptatibus provident ipsam repudiandae ducimus ad, iure
    possimus illo magni dolorum, praesentium aliquid culpa! Distinctio
    laudantium numquam quisquam dicta? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Nostrum porro eum, officiis fugit deleniti mollitia
    inventore rem saepe adipisci doloremque quod aut nesciunt assumenda nulla
    ratione eaque est magni! Quia?
  </h2>
</div>
