<div class="cardList">
  <div *ngIf="!multi">
    <timer></timer>
  </div>

  <div class="cardList_cardWrapper">
    <card
      *ngFor="let card of cardsList"
      [card]="card"
      [cardBack]="cardBack"
      (displayCard)="displayCard($event)"
    >
    </card>
  </div>

  <div *ngIf="multi" class="cardList_players">
    <player-info
      *ngFor="let player of players; let index = index"
      [player]="player"
      [index]="index"
    ></player-info>
  </div>
</div>

<reg-pop [closeOnClick]="false">
  <win-box (restartChange)="reset()" [winner]="winner" [draw]="draw"></win-box>
</reg-pop>
