@import "variables";

.playerInfo {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $orangeMedium;
    padding: $paddingMedium;
    border-radius: $borderRadius;
    box-shadow: $shadowFill;
    margin: 0 $marginMedium 0 $marginMedium;
    transition: 0.4s;
  }

  h3 {
    font-size: small;
  }

  &_myTurn {
    background-color: $greenDark;
    transform: scale(1.1);
    & > * {
      color: $orangeLight !important;
    }
  }
}
