@import "variables";

.regSelect {
  border: none;
  padding: $paddingMedium;
  position: relative;
  background-color: $orangeLight;
  border-radius: $borderRadius;
  cursor: pointer;

  option {
    font-weight: bold;
    border-radius: $borderRadius;
  }
  &:focus {
    outline: none;
  }

  &_optionsWrapper {
    position: absolute;
    top: 40px;
    left: 0;
  }
  
  &_options {
    background-color: $orangeLight;
    width: 100%;
    padding: $paddingMedium;
    font-weight: bold;
    color: $greenLight;

    &:hover {
      background-color: $greenMedium;
      color: $orangeLight;
    }
  }
}
