<div
  clickOutside
  (clickOutside)="displayOptions = false"
  class="regSelect"
  [ngStyle]="style"
  (click)="displayOptions = !displayOptions"
>
  <div class="regSelect_text">
    <p *ngIf="!choice">Faites votre choix</p>
    <p>{{ choice }}</p>
  </div>
  <div
    *ngIf="displayOptions"
    class="regSelect_optionsWrapper"
    [ngStyle]="style"
    [@menuPop]
  >
    <div
      class="regSelect_options"
      *ngFor="let value of values"
      (click)="sendValueToParent(value)"
    >
      {{ value }}
    </div>
    <div *ngFor="let button of buttons">
      <reg-button
        [label]="button.label"
        (click)="button.action()"
        [width]="width"
      ></reg-button>
    </div>
  </div>
</div>
