$regularFont: "Questrial", sans-serif;
$kidFont: "Leckerli One", cursive;

$pinkDark: #fec5bb;
$pinkMedium: #fcd5ce;
$pinkLight: #fae1dd;
$pinkExtraLight: #f8edeb;
$greenMedium: #e8e8e4;
$greenLight: #ece4db;
$greenDark: #d8e2dc;
$orangeLight: #ffe5d9;
$orangeMedium: #ffd7ba;
$orangeDark: #fec89a;

$borderRadius: 5px;
$borderRadiusBtnRight: 0 $borderRadius $borderRadius 0;
$borderRadiusInputRight: $borderRadius 0 0 $borderRadius;
$marginMedium: 10px;
$marginLow: 5px;
$paddingMedium: 10px;
$paddingLow: 5px;

$shadowFill: 3px 3px 0 0 rgba($orangeDark, 1);
$shadowFillSmall: 1px 1px 0 0 rgba($orangeDark, 1);
$textShadowFill: 3px 3px 0 $greenDark;

$fontSizeS: small;
$fontSizeM: medium;
$fontSizeL: 22px;


$gameSize: 100%;
$cardSize: 80px;
$headerSize: $fontSizeM;
