<div class="played-main">
  <h2>Mes parties jouées</h2>
  <div class="played-main_filterButton">
    <div class="played-main_filterButtonMed">
      <reg-button (click)="displayBar = !displayBar" [selected]="displayBar"
        >Filtrer</reg-button
      >
    </div>
  </div>
  <div *ngIf="displayBar" [@translateLeft]>
    <filter-bar
      (filteredChange)="searchFilter($event)"
      [filters]="queryParams"
    ></filter-bar>
  </div>
  <div class="played-main_items">
    <div class="played-main_itemsWrapper">
      <reg-spinner [size]="50" [isDisplayed]="isLoading"></reg-spinner>
      <played-item
        *ngFor="let game of gamesPlayed"
        [game]="game"
        [userInfo]="userInfo"
      ></played-item>
    </div>
  </div>
</div>
