@import "variables";

.alert {
  z-index: 1000000;
  background-color: $greenMedium;
  position: absolute;
  width: 200px;
  border-radius: $borderRadius;
  box-shadow: $shadowFill;
  top: $marginMedium;
  left: $marginMedium;
  padding: $paddingMedium;
  font-weight: bold;

  &_message {
    color: $orangeLight;
  }

  &_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: $marginMedium;
  }
}
