<div
  class="cropModal"
  *ngIf="isDisplayed"
  (click)="closeModal()"
  [ngStyle]="style"
  [@opacityAnim]
>
  <div class="cropModal_container" stopPropagation>
    <div class="cropModal_doAndPreview">
      <image-cropper
        class="cropModal_cropper"
        [imageFile]="imageFile"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      <ng-container *ngIf="croppedImage">
        <img [src]="croppedImage" />
      </ng-container>
    </div>

    <ng-container *ngIf="controlName">
      <form [formGroup]="cropForm">
        <reg-file
          [width]="200"
          [parentForm]="cropForm"
          [controlName]="controlName"
        ></reg-file>
      </form>
    </ng-container>
  </div>
</div>
