<div
  class="cropModal"
  *ngIf="isDisplayed"
  (click)="closeModal()"
  [ngStyle]="style"
  [@opacityAnim]
>
  <div class="cropModal_container" stopPropagation>
    <div class="cropModal_doAndPreview">
      <div class="cropModal_picturesPreview">
        <pictures-preview
          *ngFor="let picture of picturesPreview; let index = index"
          [index]="index"
          [picture]="picture"
          [size]="50"
          [crossButton]="false"
          (click)="setImageToCrop(index)"
        ></pictures-preview>
      </div>
      <image-cropper
        class="cropModal_cropper"
        [imageFile]="imageFile"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      <ng-container *ngIf="croppedImage">
        <img [src]="croppedImage" />
      </ng-container>
      <reg-button [width]="100" (click)="exit()">Quitter</reg-button>
    </div>
  </div>
</div>
