@import "variables";

.postTheme {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_firstLabel {
    color: $textColor !important;
  }

  label {
    color: $orangeLight;
    font-size: small;
  }

  &_titleInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: $borderRadius;
    background-color: $orangeMedium;
    padding: $paddingMedium;
    width: 90%;
    align-items: center;
    & > * {
      margin: $marginLow;
    }
  }

  &_regComps {
    display: flex;
  }

  &_inputPictures {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: $borderRadius;
    background-color: $greenLight;
    padding: $paddingMedium;
    width: 90%;
  }

  #clickOutside_sideMenu_button {
    margin-right: $marginMedium;
  }

  &_picturesButtonsinputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $marginMedium;
    & > * {
      margin: $marginLow;
    }
  }

  &_preview {
    display: flex;
    flex-wrap: wrap;
    & > * {
      margin: $marginMedium;
    }
  }


  &_vallidationEye {
    display: flex;
    justify-content: center;
  }

  &_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > * {
        margin: $marginMedium;
      }
    }
  }
}
