<div class="postTheme">
  <h2>Ajouter un theme</h2>
  <div class="postTheme_form">
    <form [formGroup]="postThemeForm" (submit)="onSubmit($event)">
      <div class="postTheme_titleInput">
        <label class="postTheme_firstLabel" for="post_image"
          >Entrez le nom du theme</label
        >
        <div class="postTheme_regComps">
          <reg-input
            id="post_image"
            [parentForm]="postThemeForm"
            [parentControlName]="'name'"
            [width]="200"
            [validate]="postThemeForm.controls.name.valid"
          ></reg-input>
        </div>
      </div>

      <div class="postTheme_inputPictures">
        <div class="postTheme_picturesButtonsinputBox">
          <label for="post_cardBack_button">Ajoutez un dos de carte</label>
          <div class="postTheme_picturesButtonsClick">
            <reg-file
              id="post_cardBack_button"
              [width]="130"
              [parentForm]="postThemeForm"
              [controlName]="'cardBack'"
            ></reg-file>
            <ng-container *ngIf="gotFiles.cardBack > 0">
              <reg-button [width]="50" (click)="displayCrop('cardBack')"
                ><i class="fas fa-crop-alt"></i
              ></reg-button>
            </ng-container>
          </div>
        </div>
        <div class="postTheme_picturesButtonsinputBox">
          <label for="post_image_button"
            >Ajoutez au minimum
            {{ 10 - gotFiles.pictures }}
            images pour creer un theme</label
          >
          <div class="postTheme_picturesButtonsClick">
            <reg-file
              id="post_img_button"
              [width]="130"
              [parentForm]="postThemeForm"
              [controlName]="'pictures'"
              [multiple]="true"
              [multiMax]="100"
            ></reg-file>
            <ng-container *ngIf="gotFiles.pictures > 0">
              <reg-button [width]="50" (click)="displayCrop('pictures')"
                ><i class="fas fa-crop-alt"></i
              ></reg-button>
            </ng-container>
          </div>
        </div>
        <div class="postTheme_vallidationEye">
          <reg-button
            id="clickOutside_sideMenu_button"
            [width]="40"
            *ngIf="gotFiles.cardBack > 0 || gotFiles.pictures > 0"
            (click)="displaySideMenu = !displaySideMenu"
          >
            <i class="fas fa-eye"></i
          ></reg-button>
          <reg-button
            [type]="'submit'"
            [label]="'Valider'"
            [disabled]="!postThemeForm.valid"
            [width]="130"
          ></reg-button>
        </div>
      </div>
    </form>
    <div class="postTheme_preview"></div>
  </div>
  <side-menu
    clickOutside
    [exceptions]="['sideMenu_button']"
    (clickOutside)="displaySideMenu = false"
    [display]="displaySideMenu"
  >
    <div *ngIf="gotFiles.cardBack > 0" background>
      <pictures-preview
        *ngFor="let back of postThemeForm.value.cardBack; let index = index"
        [index]="index"
        [picture]="back"
        [size]="100"
        (fileDelete)="pictureDelete($event, 'cardBack')"
      ></pictures-preview>
    </div>
    <div *ngIf="gotFiles.pictures > 0" card>
      <pictures-preview
        *ngFor="let picture of postThemeForm.value.pictures; let index = index"
        [index]="index"
        [picture]="picture"
        [size]="100"
        (fileDelete)="pictureDelete($event, 'pictures')"
      ></pictures-preview>
    </div>
  </side-menu>
</div>
