<div class="user">
  <h2>Se connecter</h2>
  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <div
      class="user_formRepeat"
      *ngFor="
        let value of htmlLoginForm | keyvalue: notSorted;
        let index = index
      "
    >
      <label [attr.for]="value.key">{{ label[index] }}</label>
      <reg-input
        [attr.id]="value.key"
        [parentForm]="loginForm"
        [parentControlName]="value.key"
        [width]="200"
        [type]="value.key === 'password' ? 'password' : 'text'"
        [solo]="value.key !== 'password'"
      ></reg-input>
    </div>
    <a [routerLink]="['/user/retrieve']">Mot de passe oublié</a>
    <div class="user_validSpinn">
      <reg-spinner [size]="20" [isDisplayed]="isLoading"></reg-spinner
      ><reg-button [type]="'submit'" [disabled]="!loginForm.valid"
        >Login</reg-button
      >
    </div>
  </form>
</div>
