<div class="modifyPassword">
  <h2>Reinitialiser mon mot de passe</h2>
  <form [formGroup]="modifyPasswordForm" (submit)="onSubmit()">
    <div
      class="modifyProfile_formRepeat"
      *ngFor="
        let passField of modifyPasswordForm.value | keyvalue: unsorted;
        let j = index;
        trackBy: trackByFn
      "
    >
      <label [attr.for]="passField.key">{{ passLabel[j] }}</label>
      <reg-input
        [attr.id]="passField.key"
        [parentForm]="modifyPasswordForm"
        [parentControlName]="passField.key"
        [width]="200"
        [type]="'password'"
        [solo]="false"
      ></reg-input>
    </div>
    <div class="modifyPassword_validation">
      <reg-spinner [size]="20" [isDisplayed]="isLoading"></reg-spinner>
      <reg-button
        [label]="'Reinitialiser'"
        [disabled]="!modifyPasswordForm.valid"
        [type]="'submit'"
      ></reg-button>
    </div>
  </form>
</div>
