<div class="filter-bar">
  <div class="filter-bar_container">
    <h4>Filtrer par :</h4>
    <div class="filter-bar_wrapper">
      <div class="filter-bar_type">
        <p>Difficulté</p>
        <reg-select
          [values]="select.difficulty.choices"
          [(choice)]="select.difficulty.selected"
          [width]="150"
        ></reg-select>
      </div>

      <div class="filter-bar_type" *ngIf="select.type.selected === 'multi'">
        <p>Nom de l'adversaire</p>
        <form [formGroup]="opponentForm">
          <div class="filter-bar_inputBack">
            <reg-input
              [parentForm]="opponentForm"
              parentControlName="name"
              [width]="130"
            ></reg-input>
          </div>
        </form>
      </div>

      <div class="filter-bar_type">
        <p>Type de partie</p>
        <reg-select
          [values]="select.type.choices"
          [(choice)]="select.type.selected"
          [width]="150"
        ></reg-select>
      </div>

      <div class="filter-bar_validation">
        <reg-button (click)="filtered(true)">Reset</reg-button>
        <reg-button (click)="filtered(false)"
          ><i class="fas fa-search"></i
        ></reg-button>
      </div>
    </div>
  </div>
</div>
