<div
  class="cropModal"
  *ngIf="isDisplayed"
  (click)="closeModal()"
  [ngStyle]="style"
  [@opacityAnim]
>
  <div class="cropModal_container" stopPropagation>
    <div class="cropModal_doAndPreview">
      <div class="cropModal_picturesPreview">
        <form [formGroup]="searchField" (submit)="onSubmit()">
          <reg-input
            [parentForm]="searchField"
            parentControlName="q"
            [width]="200"
            [solo]="false"
            [placeholder]="props.inputPlaceHolder"
          ></reg-input>
          <div class="cropModal_validationButton">
            <reg-spinner [size]="20" [isDisplayed]="isLoading"></reg-spinner>
            <reg-button
              [solo]="false"
              [width]="50"
              (click)="onSubmit()"
              [disabled]="!searchField.controls.q.valid"
            >
              <i class="fas fa-search"></i>
            </reg-button>
          </div>
        </form>
      </div>

      <div class="cropModal_cropperContainer">
        <div class="cropModal_userSelectChoice">
          <swiper [slidesPerView]="3.2">
            <ng-template swiperSlide *ngFor="let picture of userSelection">
              <pictures-preview
                [picture]="picture"
                [size]="50"
                [crossButton]="false"
              ></pictures-preview>
            </ng-template>
          </swiper>
        </div>

        <div class="cropModal_searchResult">
          <pictures-preview
            *ngFor="let result of searchResult"
            pictureType="path"
            [picture]="result.thumbnail"
            [size]="100"
            [checkBox]="true"
            [crossButton]="false"
            (checkedValue)="addToUserChoice($event)"
          ></pictures-preview>
        </div>
      </div>

      <div class="cropModal_bottomButtons">
        <reg-button
          [width]="130"
          (click)="saveResult()"
          [disabled]="
            this.userSelection.length > this.props.maxChoice &&
            this.props.maxChoice !== 0
          "
          >Sauvegarder</reg-button
        >
        <reg-button [width]="100" (click)="exit()">Quitter</reg-button>
      </div>
    </div>
  </div>
</div>
