<div class="setup">
  <div class="setup_title">
    <h1>Memory !</h1>
    <h2>Choisis tes preferences</h2>
  </div>

  <div class="setup_children">
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>

  <div class="setup_nextprev">
    <div *ngFor="let value of buttons; let i = index">
      <reg-button [disabled]="setupServ.disableButtons[i]" [label]="value" (click)="changeChildren(value)" [height]="50"
        [width]="100"></reg-button>
    </div>
  </div>

  <div *ngIf="setupServ.displayStartButton" class="setup_start">
    <reg-button [label]="'Démarrer'" [disabled]="gameParams.selectedDifficulty === 0" (click)="letsStart()">
    </reg-button>
  </div>

  <div class="setup_dots">
    <dots *ngFor="let dot of dots; let j = index" (mousedown)="changeChildren('dot', j)"
      [disabled]="setupServ.disableDots[j]" [selected]="setupServ.childIndex === j && true ">
    </dots>
  </div>
</div>

<modal *ngIf="modal.isDisplayed" [opacity]="0.0">
  <div *ngFor="let error of errorMessage | keyvalue">
    <p>{{ error.value }}</p>
  </div>
</modal>