@import "variables";

.setup {
  &_title {
    display: flex;
    flex-direction: column;
    font-family: $kidFont !important;
    align-items: center;
    & > * {
      margin: $marginMedium;
    }
  }

  &_dots {
    display: flex;
    justify-content: center;
    & > * {
      margin: $marginMedium;
    }
  }

  &_dotsWrapper {
    position: relative;
  }

  &_nextprev {
    display: flex;
    justify-content: center;
    & > * {
      margin: $marginMedium;
    }
  }

  &_start {
    display: flex;
    justify-content: center;
    & > * {
      margin: $marginMedium;
    }
  }

  &_children {
    height: 200px;
  }
}
