<div class="themeLanding">
  <div class="themeLanding_wrapper">
    <div class="themeLanding_number" *ngIf="themeSize > 0">
      <p>{{ themePosition }} / {{ themeSize }}</p>
    </div>

    <reg-button
      *ngFor="let choice of themesCrud"
      [height]="30"
      [width]="150"
      [routerLink]="choice.link"
    >
      <div class="themeLanding_addButton">
        {{ choice.value }}
        <i class="fas fa-plus"></i>
      </div>
    </reg-button>
  </div>
  <delete-theme
    (themeIndexChange)="forceIndexChange($event)"
    [themeIndex]="themePosition"
    (themeLength)="getThemeLength($event)"
  ></delete-theme>
</div>
