@import "variables.scss";

.reg-check-box {
  &_border {
    border: 5px solid $orangeLight;    
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $orangeDark;

    .fa-check {
      color: $greenLight;
    }
  }
}
