@import "variables";

.postTheme {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_firstLabel {
    color: $textColor !important;
  }

  &_uploadChoice {
    background-color: $orangeLight;
    display: flex;
    padding: $paddingMedium;
    border-radius: $borderRadius;
    box-shadow: $shadowFill;
    display: flex;
    gap: $marginMedium;
  }

  &_topTitle {
    display: flex;
    width: 90%;
    padding: $paddingMedium;
    align-items: center;
  }

  .fa-chevron-circle-left {
    color: $greenLight;
    cursor: pointer;
    margin-right: $marginMedium;
  }

  &_validationSpinn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }

  label {
    color: $orangeLight;
    font-size: small;
  }

  &_titleInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: $borderRadius;
    background-color: $orangeLight;
    padding: $paddingMedium;
    width: 90%;
    align-items: center;
    & > * {
      margin: $marginLow;
    }
  }

  &_regComps {
    display: flex;
  }

  &_inputPictures {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: $borderRadius;
    background-color: $greenLight;
    padding: $paddingMedium;
    width: 90%;
  }

  #clickOutside_sideMenu_button {
    margin-right: $marginMedium;
  }

  &_picturesButtonsinputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $marginMedium;
    & > * {
      margin: $marginLow;
    }
  }

  &_preview {
    display: flex;
    flex-wrap: wrap;
    & > * {
      margin: $marginMedium;
    }
  }

  &_picturesButtonsClick {
    display: flex;
    width: 100%;
    justify-content: center;
    & > * {
      margin-right: $marginMedium;
    }
  }

  &_vallidationEye {
    display: flex;
    justify-content: center;
  }

  &_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > * {
        margin: $marginMedium;
      }
    }
  }
}
