<div class="user">
  <h2>S'enregistrer</h2>
  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <div class="user_formRepeat" *ngFor="let value of htmlLoginForm | keyvalue">
      <label [attr.for]="value.key">{{ value.key }}</label>
      <reg-input
        [attr.id]="value.key"
        [parentForm]="loginForm"
        [parentControlName]="value.key"
        [width]="200"
        [type]="value.key === 'password' ? 'password' : 'text'"
        [solo]="value.key !== 'password'"
      ></reg-input>
    </div>
    <a [routerLink]="['/']">Mot de passe oublié</a>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <reg-button [type]="'submit'" [disabled]="!loginForm.valid"
      >Login</reg-button
    >
  </form>
</div>
