@import "variables";

.playerName {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  &_inputsSolo {
    & > * {
      margin: 10px;
    }
  }
  &_inputsComp {
    display: flex;
    align-items: center;
    position: relative;
  }

  &_connect {
    margin: 0 $marginMedium 0 $marginMedium;
  }
}
