<div class="regInput" [formGroup]="parentForm">
  <input
    [ngStyle]="style"
    [attr.type]="type"
    [formControlName]="parentControlName"
    [attr.disabled]="disabled ? '' : null"
    [placeholder]="placeholder"
    [ngClass]="{ regInput_validate: validate, regInput_bindToButton: !solo }"
  />
  <div class="regInput_eyeButton" *ngIf="displayEye">
    <reg-button (click)="changeType()" [solo]="false">
      <i class="fas fa-eye" *ngIf="type === 'password'"></i>
      <i class="fas fa-eye-slash" *ngIf="type === 'text'"></i>
    </reg-button>
  </div>
</div>
