@import "variables";
.regInput {
  display: flex;
  border-radius: $borderRadius;
  input {
    height: 100%;
    color: $orangeLight;
    padding: $paddingMedium;
    border: none;
    border-radius: $borderRadius;
    background-color: $greenLight;
    transition: 0.3s;
    &:focus {
      outline: none;
      background-color: $greenDark;
      color: $orangeLight !important;
    }
    &::placeholder {
      color: $orangeDark;
    }
  }

  &_bindToButton {
    border-radius: $borderRadiusInputRight !important;
  }

  &_validate {
    box-shadow: $shadowFill;
    background-color: $orangeLight !important;
    color: $textColor !important;
    &:focus {
      background-color: $greenDark !important;
    }
  }
}
