@import "variables";

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $headerSize;

  &_title {
    display: flex;
    margin-top: $marginMedium;
  }
  h1 {
    padding: 0 $paddingMedium 0 $paddingMedium;
    text-shadow: $textShadowFill;
  }
  .fa-star {
    transition: 0.5s;
    animation: shake infinite 0.5s;
    color: $greenLight;
    &:hover {
      color: $backgroundColor;
    }
  }
}
@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}
