@import "variables";

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $kidFont;
  font-size: $headerSize;
  h1 {
    padding: 0 $paddingMedium 0 $paddingMedium;
    text-shadow: $textShadowFill;
  }
  &_nav {
    padding: 0 $paddingMedium 0 $paddingMedium;
    a{
      text-shadow: $textShadowFill;
    }
    & > * {
      margin: 0 $marginLow 0 $marginLow;
    }
  }
}
