@import "variables";

.dots {
  background-color: $orangeLight;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: none;
  transition: 0.4s;
  &:enabled {
    box-shadow: $shadowFillSmall;
    cursor: pointer;
  }

  &:disabled {
    background-color: $disabled;
  }

  &:hover:enabled {
    box-shadow: 0 0 0 0;
    background-color: $orangeDark;
  }
  &:focus {
    outline: none;
  }

  &_selected {
    background-color: $greenLight;
  }
}
