@import "variables.scss";

.profileSelection {
  position: absolute;
  top: -100px;
  background-color: $greenLight;
  border-radius: $borderRadius;
  a {
    color: $orangeDark;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    gap: $marginLow;
  }

  &_repeat {
    margin: $marginMedium;
  }
}
