@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Questrial&display=swap");
@import "variables";

* {
  margin: 0;
  padding: 0;
  color: $orangeDark;
}

html,
body {
  overflow: hidden;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffd7ba' fill-opacity='1' d='M0,192L60,176C120,160,240,128,360,122.7C480,117,600,139,720,176C840,213,960,267,1080,282.7C1200,299,1320,277,1380,266.7L1440,256L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z' %3E%3C/path%3E%3C/svg%3E");
  background-color: $orangeLight;
  background-repeat: no-repeat;
  font-family: $regularFont;
  height: 100%;
}
