@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Questrial&display=swap");
@import "variables";

* {
  margin: 0;
  padding: 0; 
  color: $orangeDark;
}

body {
  overflow: hidden;
  background-color: $pinkExtraLight;
  font-family: $regularFont;
}
