@import "variables.scss";

.navBar {
  transition: 0.2s ease;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 50px;

  &_iconText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -$marginMedium;
    p {
      color: $orangeLight;
      margin-top: $marginLow;
    }
  }

  &_list {
    display: flex;
    width: $gameSize;
    background-color: $greenLight;
    padding: $paddingLow;
  }

  .fas {
    color: $orangeLight;
  }

  &_userSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_login {
    color: $orangeLight;
    font-weight: bold;
    margin-right: $marginMedium;
  }

  &_href {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > * {
      margin: $marginLow;
    }
  }
}
