@import "variables.scss";

.navBar {
  transition: 0.2s ease;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left:50%;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translate(-50%);
  display: flex;
  height: 45px;

  &_iconText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -$marginMedium;
    p {
      color: $orangeLight;
      margin-top: $marginLow;
    }
  }

  &_list {
    display: flex;
    width: var(--game-size);
    background-color: $greenLight;
    padding: $paddingLow;
  }

  .fas {
    color: $orangeLight;
  }

  &_userSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_login {
    color: $orangeLight;
    font-weight: bold;
    margin-right: $marginMedium;
  }

  &_href {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > * {
      margin: $marginLow;
    }
  }

  h1 {
    padding: 0 $paddingMedium 0 $paddingMedium;
    text-shadow: $textShadowFill;
    font-size: medium;
  }

  &_star {
    display: flex;
  }


  .fa-star {
    transition: 0.5s;
    animation: shake infinite 0.5s;
    color: $backgroundColor;
  }
}

@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}
