@import "variables.scss";

.navBar {
  &_star {
    cursor: pointer;
  }
  &_list {
    z-index: 20;
    position: absolute;
    width: $gameSize;
    width: 85%;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $greenLight;
    padding: $paddingMedium;
    border-radius: $borderRadius;

    box-shadow: $shadowFill;
  }

  &_href {
    display: flex;
    flex-direction: column;
    & > * {
      margin: $marginLow;
    }
  }
  .fa-star {
    transition: 0.5s;
    animation: shake infinite 0.5s;
    &:hover {
      color: $greenLight;
    }
  }

  .activatedStar {
    color: $greenLight;
  }
}

@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}
