<div class="navBar">
  <div class="navBar_star">
    <i
      id="clickOutside_navBar_starButton"
      class="fas fa-star fa-2x"
      (click)="isDisplayed = !isDisplayed"
      [ngClass]="{ activatedStar: isDisplayed }"
    ></i>
  </div>
  <div
    *ngIf="isDisplayed"
    class="navBar_list"
    [@menuPop]
    clickOutside
    [exceptions]="['navBar_starButton']"
    (clickOutside)="isDisplayed = !isDisplayed"
  >
    <div class="navBar_href" (click)="isDisplayed = !isDisplayed">
      <a (click)="goHome()">Home</a>
      <a *ngIf="isAuth" [routerLink]="['/themes']">Ajouter dun theme</a>
      <a *ngIf="!isAuth" [routerLink]="['/user/subscribe']">S'inscrire</a>
      <a *ngIf="!isAuth" [routerLink]="['/user/login']">S'enregistrer</a>
      <a *ngIf="isAuth" (click)="logOut()">Se déconnecter</a>
    </div>
  </div>
</div>
