@import "variables.scss";

.played-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $paddingMedium;
  .soloWrapper {
  }

  &_box {
    background-color: $orangeLight;
    border-radius: $borderRadius;
    width: 100%;
  }
}
