@import "variables.scss";

.themeLanding {
  display: flex;
  flex-direction: column;
  &_wrapper {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    & > * {
      margin-bottom: $marginMedium;
    }

    p {
      font-weight: bold;
      color: $orangeLight;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
