@import "variables.scss";

.themeLanding {
  display: flex;
  flex-direction: column;
  &_wrapper {
    align-self: center;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    & > * {
      margin-bottom: $marginMedium;
    }
  }
}
